---
layout: page
title: People
permalink: /people/
---

<link rel="stylesheet" href="{{ site.baseurl }}/css/team.css" />

<h2 class="center-text">Meet the Faculty</h2>

<div class="container">
<div class="row">
			
    <!-- Faculty Listing -->
    {% for facMem in site.data.faculty %}
    <div class="col-md-3 col-sm-6" style=" padding: 2%;">
        <div class="card" style="background-color: antiquewhite; padding: 2%;">
        <img src="{{site.baseurl}}/img/faculty/{{ facMem.img }}" alt="{{ facMem.name }}" style="width:100%">
        <div class="">
            <h4><b>{{ facMem.name }}</b></h4> 
            <p><b>{{ facMem.designation }}</b></p>
            <p><b>Dept:</b> {{ facMem.department }}</p> 
            <p><b>Research Interests:</b></p>
                <ol>
                {% for subitem in facMem.researchInterests %}
                    <li class="text-left" style="font-size:14px; margin:0; padding:0% 1%">{{ subitem }}</li>
                {%- if forloop.index == 5 -%}
                {%- break -%}
                {%- endif -%}
                {% endfor %}
                </ol>
            <p><b>Contact:</b> {{ facMem.contact }}</p>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>